{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver", {
          "root": [
              "./src"
          ],
          "alias": {
              "@globals": "./src/scripts/utils/globals",
              "@math": "./src/scripts/utils/math"
          }
      }
  ]  
  ]
}
