body {
    margin: 0px;
    padding: 0px;
    overflow: hidden !important;
    background: white;
}

.weapon-information {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.weapon-information span {
    font-family: 'VT323', monospace;
    font-size: 30px;
}